.post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 33%;
    margin-bottom: 15px;
}

.post h2 {
    margin-bottom: 0;
}

.post img {
    width: 180px;
    height: 230px;
    border-radius: 5px;
}

.post p {
    width: 50%;
    text-align: left;
}

.post a {
    text-decoration: underline;
    color: crimson;
    font-weight: 700;
}