.sidebar {
    width: 250px;
    height: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    background-color: rgb(17, 64, 85);
    color: white;
    flex-direction: column;
}
